parameters:
	level: 9
	paths:	
		- app
		- config
		- database
		- resources/views
		- routes
		- tests
	ignoreErrors:
		- '#Call to an undefined static method App\\Models(.*)::.*#'
		- '#Call to an undefined method Illuminate\\(.*)::.*#'
		- '#Access to an undefined property Illuminate\\Http\\(.*)::.*#'
		- '#Cannot access offset (.*) on mixed.#'