@mixin font-40-imp {
  font-size: 40px !important;
}

@mixin cursor-pointer-imp {
  cursor: pointer !important;
}

@mixin margin-left-40-imp {
  margin-left: 40px !important;
}

@mixin float-right {
  float: right;
}


.home-icon {
  @include font-40-imp;
  @include cursor-pointer-imp;
  @include margin-left-40-imp;
}

.menu-icon {
  @include font-40-imp;
  @include cursor-pointer-imp;
}

.avatar {
  @include float-right;
  @include cursor-pointer-imp;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-active {
  .MuiTypography-root {
    color: #001d35;
    font-weight: bold;
  }
  .MuiListItem-root {
    background-color: #d3e3fd;
    border-radius: 0 16px 16px 0;
  }
  .MuiSvgIcon-root path {
    color: rgba(0, 0, 0, 0.84);
  }
}

.disabledText {
  p, span, h4, h5, h6, th {
    color: rgba(0, 0, 0, 0.38) !important;
  }
}