@import "home";
@import "graph";
@import "alert.scss";

@mixin font-40-imp {
  font-size: 40px !important;
}

@mixin cursor-pointer-imp {
  cursor: pointer !important;
}

@mixin margin-left-40-imp {
  margin-left: 40px !important;
}

.home-icon {
  @include font-40-imp;
  @include cursor-pointer-imp;
  @include margin-left-40-imp;
}

.menu-icon {
  @include font-40-imp;
  @include cursor-pointer-imp;
}

@media only screen and (max-width: 1100px) {

  .light-mode,
  .dark-mode {
    display: none !important;
  }
}

@media only screen and (min-width: 1100px) {

  .sidebar-light-mode,
  .sidebar-dark-mode {
    display: none !important;
  }
}

@media only screen and (max-width: 1009px) {

  .sidebar-light-mode,
  .sidebar-dark-mode {
    display: inherit !important;
  }
}

.avatar {
  @include cursor-pointer-imp;
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-active {
  .MuiTypography-root {
    color: #001d35;
    font-weight: bold;
  }

  .MuiListItem-root {
    background-color: #d3e3fd;
    border-radius: 0 16px 16px 0;
  }

  .MuiSvgIcon-root path {
    color: rgba(0, 0, 0, 0.84);
  }
}

.disabledText {

  p,
  span,
  h4,
  h5,
  h6,
  th {
    opacity: 0.4 !important;
  }
}

.color-inherit {
  color: inherit;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}